.home {
  min-height: 100vh;
  position: relative;

  &__title {
    font-size: clamp(24px, 4vw, 90px);
    text-align: center;
    margin: clamp(70px, 6vw, 100px) 0 clamp(50px, 5vw, 70px) 0;

    @media (min-width: 1000px) {
      margin: clamp(50px, 5vw, 70px) 0;
    }
  }

  &__cd-container {
    position: absolute;
    bottom: 70px;
    width: 100%;

    &__image {
      width: clamp(300px, 40vw, 650px);
      object-fit: cover;
      z-index: -1;

      @media (max-height: 500px) {
        width: clamp(270px, 30vw, 450px);
        display: none;
      }
      @media (min-width: 1700px) {
        width: clamp(400px, 60vw, 850px);
      }
    }
  }
}
