:root {
  --theme-color: #252525;
  --background-color: #f2f3f4;
  --primary-grey: #b5b5b5;
  --secondary-grey: #575757;
  --btn-width: clamp(260px, 40vw, 650px);
  --main-padding: clamp(15px, 7vw, 120px);
}
