.search {
  width: 100%;
  z-index: 100;

  &__bar {
    background-color: lighten(#b5b5b5, 20);
    position: relative;
    width: var(--btn-width);
    height: 50px;
    border-radius: 50px;
    overflow: hidden;

    &__input-field {
      border: none;
      background-color: transparent;
      position: absolute;
      inset: 0;
      width: 80%;
      height: 100%;
      padding: 0 20px;
      outline: none;
      color: var(--secondary-grey);

      @media (min-width: 1000px) {
        width: 90%;
      }
    }

    &__icon {
      position: absolute;
      right: 0;
      width: 20%;
      height: 100%;
      font-size: 20px;
      color: var(--primary-grey);
      cursor: pointer;

      @media (min-width: 1000px) {
        font-size: 16px;
        width: 10%;
      }
    }
  }
}
